* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #353543;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
/* NAV BAR */
nav {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  position: fixed;
  top: 0;
  background-color: #fff;
}
.nav-logo a {
  text-decoration: none;
  color: #610b37;
  font-size: 3rem;
  font-weight: 600;
}
.nav-search {
  position: relative;
}
.nav-search input {
  width: 420px;
  font-size: 1rem;
  padding: 0.7rem 2rem;
  border-radius: 4px;
  border: 1px solid grey;
}
.nav-search i {
  position: absolute;
  top: 14px;
  left: 8px;
  font-size: 1.2rem;
  color: rgba(62, 62, 62, 0.437);
}
.nav-icons {
  display: flex;
  align-items: center;
  width: 50%;
}
.nav-icons i {
  font-size: 1.2rem;
}
.Rborder {
  padding: 0.5rem 1.5rem;
  border-right: 2px solid rgba(128, 128, 128, 0.495);
  cursor: pointer;
}
.pc {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
/* PANEL */
.panel {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top: 1px solid rgba(128, 128, 128, 0.486);
  border-bottom: 1px solid rgba(128, 128, 128, 0.486);
  position: fixed;
  top: 70px;
  width: 100%;
  background-color: #fff;
}
.panel a {
  text-decoration: none;
}
.panel a:hover {
  color: #610b37;
}
/* HERO SECTION */
.hero-section {
  margin-top: 160px;
  height: 345px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.hero-text {
  padding: 2.5rem;
  width: 55%;
  background-color: rgb(248, 248, 255);
  display: flex;
  flex-direction: column;
}
.hero-text span,
.hero-text > p {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.2rem;
}
.hero-icons {
  width: 80%;
  height: 60px;
  display: flex;
  margin-top: 2rem;
}
.hero-icons .icon {
  height: 70%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  padding-right: 2rem;
}
.hero-icons i {
  margin-right: 5px;
}
.cod,
.returns {
  border-left: 1px solid #353543;
}
.playstore-section {
  margin-top: 1rem;
  background-color: #9f2089;
  height: 50px;
  border-radius: 5px;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.playstore-section i {
  color: white;
  font-size: 1.5rem;
}
.playstore-section p {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
}
.playstore-section:hover {
  cursor: pointer;
}
.hero-image {
  background-image: url(/media/hero_image.webp);
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
}
/* CATEGORIES */
.category-heading {
  text-align: center;
  margin: 2.5rem;
  font-size: 2.5rem;
  font-weight: 600;
}
.fashion-freak {
  height: 560px;
  background-color: #9f2089;
  padding-top: 1rem;
  padding-bottom: 0;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.fashion1 {
  background-image: url(/media/fashion1.webp);
  background-repeat: no-repeat;
  width: 400px;
  height: 420px;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 3;
}
.fashion-text {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: 3.5rem;
  color: white;
  font-weight: 700;
  display: flex;
  align-self: last baseline;
  justify-content: center;
}
.fashion2 {
  background-image: url(/media/fashion2.webp);
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.fashion3 {
  background-image: url(/media/fashion3.webp);
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
/* Essentials Section */
.essentials-section {
  height: 75vh;
  background-color: rgb(227, 67, 94);
  padding-top: 1rem;
  padding-bottom: 0;
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 4rem;
}
.essent-img-container {
  width: 80%;
  margin-top: 3.5rem;
}
.essentials-topic h2 {
  font-size: 3rem;
  color: white;
}
.essentials-topic button {
  border-radius: 15px;
  color: white;
  margin-left: 35px;
  border: 4px double palevioletred;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  background-color: rgb(151, 44, 62);
}
.essent-img-container {
  display: flex;
  gap: 1.5rem;
}
.essent-img .img1,
.essent-img .img2,
.essent-img .img3 {
  height: 330px;
  width: 200px;
  background-repeat: no-repeat;
}
.essent-img .img1 {
  background-image: url(./media/essentials1.webp);
}
.essent-img .img2 {
  background-image: url(./media/essentials2.webp);
}
.essent-img .img3 {
  background-image: url(./media/essentials3.webp);
}
.essent-img button {
  color: white;
  background-color: rgb(151, 44, 62);
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  border-style: none;
  margin-top: 0.6rem;
  font-weight: 500;
}
.essent-img .btn1 {
  margin-left: 40px;
}
.essent-img .btn2 {
  margin-left: 50px;
}
.essent-img .btn3 {
  margin-left: 45px;
}
/* PRODUCTS CONTAINER */
.products-container {
  margin-top: 4rem;
  display: flex;
}
/* SIDE PANEL */
.side-panel {
  height: 100%;
  width: 30%;
  padding: 1rem;
  padding-right: 0;
}
.side-panel h4 {
  font-size: 2rem;
  font-weight: 400;
  color: #353543;
}
.dropdown-section .sorting {
  background-color: #fff;
  width: 90%;
  padding: 8px 24px;
  border-radius: 5px;
  margin-top: 1rem;
  border: 1px solid #dadae565;
}
.sorting option {
  color: #8b8ba3;
}
.dropdown-section label {
  color: #8b8ba3;
}
.dropdown-section select {
  font-size: 1rem;
  color: #353543;
  border-style: hidden;
}
.dropdown-section select:focus {
  outline: none;
}
.filters-section {
  margin-top: 1rem;
  border: 1px solid #dadae565;
  width: 90%;
  border-radius: 8px;
  padding-top: 1rem;
}
.filters-topic {
  border-bottom: 1px solid #7171754b;
  width: 80%;
  margin: 0px 24px;
}
.filters-topic .name {
  color: #353543;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}
.filters-topic .number {
  color: #8b8ba3;
  font-size: 0.75rem;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
}
.filters-section .filters {
  width: 80%;
  background-color: #fff;
  margin-left: 24px;
  color: #353543;
}
.filters-section select {
  font-size: 1.1rem;
  width: 100%;
  font-weight: 600;
  border-style: hidden;
  padding: 1.2rem 0;
  border-bottom: 1px solid #7171754b;
}
.filters-section select:focus {
  outline: none;
}
.filters-section option {
  color: #616173;
}
/* PRODUCTS SECTION */
.products {
  width: 85%;
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  align-items: center;
}
.products .img-container {
  height: 232px;
  width: 227px;
  background-size: contain;
  background-repeat: no-repeat;
}
.prod {
  border-radius: 8px;
  border: 1px solid #dadae565;
  height: 420px;
  position: relative;
  z-index: -1;
}
.img-container .more {
  background-color: #fff;
  color: #616173;
  width: 50px;
  font-size: 0.8rem;
  position: absolute;
  top: 215px;
  left: 175px;
}
.products .text-container {
  padding: 0px 12px;
}
.products .text-container .prod-name {
  color: #8b8ba3;
  margin-bottom: 15px;
}
.products .text-container .prod-price {
  margin-bottom: 15px;
  color: #353543;
  font-size: 1.5rem;
}
.products .text-container .prod-price span {
  color: #8b8ba3;
  font-size: 12px;
}
.products .text-container .prod-delivery {
  margin-bottom: 15px;
  background-color: #ede9e97b;
  font-size: 0.8rem;
  width: 45%;
  text-align: center;
  border-radius: 5px;
}
.products .text-container .prod-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.products .text-container .prod-rating .rating {
  color: white;
  font-weight: 500;
  width: 60px;
  height: 30px;
  background-color: #23bb75;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.products .text-container .prod-rating i {
  color: white;
  font-size: 10px;
}
.products .text-container .prod-rating .reviews {
  color: #8b8ba3;
  font-size: 12px;
  font-weight: 500;
}
.prod1 .img-container {
  background-image: url(./media/product1.webp);
}
.prod2 .img-container {
  background-image: url(./media/product2.webp);
}
.prod3 .img-container {
  background-image: url(./media/product3.webp);
}
.prod4 .img-container {
  background-image: url(./media/product4.webp);
}
.prod5 .img-container {
  margin-left: 15%;
  background-image: url(./media/product5.webp);
}
.prod6 .img-container {
  background-image: url(./media/product6.webp);
}
.prod7 .img-container {
  margin-left: 15%;
  background-image: url(./media/product7.webp);
}
.prod8 .img-container {
  margin-left: 15%;
  background-image: url(./media/product8.webp);
}
.prod9 .img-container {
  margin-left: 10%;
  background-image: url(./media/product9.webp);
}
.prod10 .img-container {
  margin-left: 16%;
  background-image: url(./media/product10.webp);
}
.prod11 .img-container {
  margin-left: 5%;
  background-image: url(./media/product11.webp);
}
.prod12 .img-container {
  background-image: url(./media/product12.webp);
}
.prod13 .img-container {
  margin-left: 1%;
  background-image: url(./media/product13.webp);
}
.prod14 .img-container {
  margin-left: 16%;
  background-image: url(./media/product14.webp);
}
.prod15 .img-container {
  background-image: url(./media/product15.webp);
}
.prod16 .img-container {
  background-image: url(./media/product16.webp);
}
.prod17 .img-container {
  margin-left: 15%;
  background-image: url(./media/product17.webp);
}
.prod18 .img-container {
  margin-left: 15%;
  background-image: url(./media/product18.webp);
}
.prod19 .img-container {
  margin-left: 15%;
  background-image: url(./media/product19.webp);
}
.prod20 .img-container {
  margin-left: 15%;
  background-image: url(./media/product20.webp);
}
/* FOOTER */
footer {
  background-color: #fff;
}
